// colors
$background: rgb(225, 215, 183, 0.5);
$primary: rgb(30, 42, 94);
$secondary: rgb(85, 103, 156);
$tertiary: rgb(124, 147, 195);

// font sizes
$fs-normal: 14px;
$fs-s: 12px;
$fs-xs: 10px;
$fs-l: 16px;
$fs-xl: 18px;
$fs-xxl: 22px;
$fs-xxxl: 24px;

// font weight
$fw-normal: 400;
$fw-bold: 600;
$fw-extra-bold: 800;

// additional
$radius-normal: 6px;

$gap-small: 2px;
$gap-normal: 4px;
$gap-big: 6px;
