<div class="wrapper">
  <mat-form-field *ngIf="isRegular || isArea" class="input">
    <mat-label *ngIf="title">{{ title }}</mat-label>
    <input
      *ngIf="isRegular"
      matInput
      [formControl]="control"
      [errorStateMatcher]="matcher"
      [type]="type"
      [inputMode]="type === 'number' ? 'numeric' : null"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      [disabled]="isDisabled"
      (change)="onValueChange($event)"
    />
    <textarea
      *ngIf="isArea"
      matInput
      [formControl]="control"
      [errorStateMatcher]="matcher"
      [type]="type"
      [inputMode]="type === 'number' ? 'numeric' : null"
      [(ngModel)]="value"
      [placeholder]="placeholder"
      [disabled]="isDisabled"
      (change)="onValueChange($event)"
    ></textarea>
    <mat-error *ngIf="control.hasError('required')"
      >{{ title }} je obavezno polje!</mat-error
    >
    <mat-error *ngIf="control.hasError('email')"
      >Email nije u odgovarajucem formatu</mat-error
    >
  </mat-form-field>
  <mat-checkbox
    *ngIf="isCheck"
    class=""
    [formControl]="control"
    [checked]="!!control.value"
  >
    {{ title }}
  </mat-checkbox>
</div>
